body {
    background-color: #e2e2e2;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.left, .right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.left {
    flex: 2;
    border-right: 1px solid #ccc;
}

.right {
    flex: 1;
}

.left-content, 
.right-content {
    padding: 15px;
    height: 100%;
}

.right-content {
    overflow-y: scroll;
}